Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/*
Content/StarterContent/Architecture*
Content/StarterContent/Audio*
Content/StarterContent/Blueprints*
Content/StarterContent/HDRI*
Content/StarterContent/Maps*
